@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

main {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  font-family: "Inter";
  background-color: transparent;
  cursor: pointer;
}

.header {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-top: 47px;
  margin-bottom: 109px;
}

.header__container {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #eeebff;
  font-size: 24px;
  font-weight: 600;
  color: #7b61ff;
  transform: rotate(30deg);
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item:not(:last-child) {
  margin-right: 16px;
}
.header__item:last-child {
  margin-left: 32px;
}

.header__link {
  padding: 12px 32px;
  color: #6b7280;
  text-decoration: none;
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
  color: #3730a3;
}
.header__link:before, .header__link:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}
.header__link:before, .header__link:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #3730a3;
  border-radius: 6px;
}
.header__link:before {
  border-width: 1px 0 1px 0;
  transform: scaleX(0);
}
.header__link:after {
  border-width: 0 2px 0 2px;
  transform: scaleY(0);
}
.header__link:hover:before, .header__link:hover:after {
  transform: scale(1, 1);
}

.hero__container {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.hero__content-text {
  padding-top: 19px;
  margin-right: 20px;
  max-width: 596px;
}

.hero__upper-line {
  display: inline-block;
  height: 1px;
  width: 102px;
  background-color: #3730a3;
}

.hero__person-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #4338ca;
}

.hero__title {
  padding: 40px 0;
  margin: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  color: #1f2937;
}

.hero__descr {
  margin: 0;
  font-weight: 400;
  color: #6b7280;
  padding-bottom: 40px;
}

.hero__button {
  display: inline-block;
  text-decoration: none;
  padding: 12px 32px;
  border: 1px solid #3730a3;
  border-radius: 6px;
  margin-right: 20px;
  transition: 0.5s;
}
.hero__button:hover {
  background-color: #3730a3;
  color: #fff;
}

.hero__small-text {
  display: block;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #6b7280;
}

.hero__bottom-line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #E5E7EB;
}

.skills__container {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.skills__title {
  max-width: 1039px;
  padding: 60px 0 75px 0;
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.skills__title--purple {
  color: #3730a3;
}

.skills__image {
  display: flex;
  align-items: center;
  min-width: 440px;
  margin-right: 50px;
}

.skills__cards {
  display: flex;
  padding: 55px 0;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.skills__item {
  width: 311px;
}

.skills__subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1f2937;
}

.skills__descr {
  margin: 0;
  padding: 20px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6b7280;
}

.skills__button {
  display: block;
  margin: 0;
  padding: 0;
  color: #3730a3;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.skills__trusted-companies-block {
  background-color: #fef2f2;
  margin: 75px 0;
}

.skills__trusted-companies-container {
  max-width: 1172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 259px;
  margin: 0 auto;
}

.skills__trusted-stroke {
  margin-bottom: 20px;
  align-self: start;
  color: #9ca3af;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.skills__trusted-companies {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills__company-logo {
  display: flex;
}

.photo__container {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 75px;
}

.photo__title {
  max-width: 1039px;
  margin: 0;
  padding-bottom: 75px;
  text-align: center;
  color: #1f2937;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
}

.photo__block-container {
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1330px;
}

.photo__photo-block {
  display: flex;
  flex: auto;
}

.planning-analytycs__container {
  margin: 0 auto;
  max-width: 1246px;
  padding: 75px 20px;
}

.planning-analytycs__list {
  display: flex;
  justify-content: space-between;
}

.planning-analytycs__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 361px;
}

.planning-analytycs__image {
  width: 140px;
  height: 140px;
  border-radius: 6px;
  background-color: #eeebff;
}
.planning-analytycs__image--business {
  background-image: url("/images/business.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.planning-analytycs__image--dollar {
  background-image: url("/images/dollar.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.planning-analytycs__image--search {
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.planning-analytycs__subtitle {
  margin: 0;
  padding: 40px 0 20px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #374151;
}

.planning-analytycs__descr {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #9ca3af;
}

.footer {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  background-color: #fef2f2;
}

.footer__container {
  max-width: 684px;
  padding: 110px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  margin: 0;
  padding-bottom: 20px;
  color: #374151;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.footer__descr {
  padding-bottom: 103px;
  margin: 0;
  color: #9ca3af;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.footer__social {
  width: 100%;
  max-width: 520px;
}

.footer__social-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.careers__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1246px;
  padding: 75px 20px;
}

.careers__title {
  margin: 0;
  padding-bottom: 75px;
  text-align: center;
  color: #6b7280;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
}

.careers__caption-title {
  display: none;
}

.careers__table {
  max-width: 1187px;
  width: 100%;
  table-layout: fixed;
}

.careers__table-head {
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6b7280;
}

.careers__table-heading {
  padding-top: 75px;
  padding-bottom: 40px;
}
.careers__table-heading:nth-child(2) {
  text-align: center;
}
.careers__table-heading:last-child {
  text-align: right;
}

.careers__table-body {
  color: #6b7280;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.careers__table-data {
  padding: 40px 0;
}
.careers__table-data:nth-child(2) {
  text-align: center;
}
.careers__table-data:last-child {
  text-align: right;
}

.careers__font-bold {
  font-weight: 600;
  color: #1f2937;
}
/*# sourceMappingURL=style.css.map */