@mixin centering {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1226px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@mixin font {
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
