$primary-violet: #3730a3;
$secondary-violet: #4338ca;
$third-violet: #7b61ff;
$lighten-violet: #eeebff;

$primary-black: #1f2937;
$secondary-black: #374151;
$primary-gray: #6b7280;
$secondary-gray: #9ca3af;

$background-company: #fef2f2;

$font: "Inter";
