.careers__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1246px;
  padding: 75px 20px;
}
.careers__title {
  margin: 0;
  padding-bottom: 75px;
  text-align: center;
  color: $primary-gray;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
}
.careers__caption-title {
  display: none;
}
.careers__table {
  max-width: 1187px;
  width: 100%;
  table-layout: fixed;
}
.careers__table-head {
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $primary-gray;
}
.careers__table-heading {
  padding-top: 75px;
  padding-bottom: 40px;
  &:nth-child(2){
    text-align: center;
  }
  &:last-child {
    text-align: right;
  }
}
.careers__table-body {
  color: $primary-gray;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.careers__table-data {
  padding: 40px 0;
  &:nth-child(2) {
    text-align: center;
  }
  &:last-child {
    text-align: right;
  }
}
.careers__font-bold {
  font-weight: 600;
  color: $primary-black;
}
